/* AdminDashSidebar.js */

.admin-sidebar {
	width: 22%;
	background-color: rgb(33, 21, 73);
	height: 100vh;
	float: left;
}
.ul {
	list-style: none;
	padding: 0;
}
.Link {
	display: block;
	color: #fff;
	text-decoration: none;
	background-size: 22%;
	height: 40px;
	background-color: rgb(19, 9, 53);
	text-align: center;
	padding-top: 5px;
	border: 1px solid rgb(12, 2, 43);
	margin: 2px;
	border-radius: 3px;
}
.Link:hover {
	text-decoration: none;
	color: #fff;
	background-color: rgba(8, 1, 27, 0.973);
}
.admin-card-main {
	width: 77.5%;
	border: 1px solid #b6b3b3;
	height: 98vh;
	float: right;
	border-radius: 2px;
	margin: 5px 3px 0px 2px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

/* Createpost.js styles */
.createpost-body {
	height: 90vh;
	font-family: "Roboto", sans-serif;
}

.createpost-card {
	width: 55%;
	border: 1px solid #b6b3b3;
	height: 97vh;
	float: right;
	border-radius: 2px;
	margin: 5px 305px 0px 2px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 40px 70px 20px 70px;
}
.createpost-top-right-sidebar {
	float: right !important;
	width: 21.6% !important;
	height: 96.6vh !important;
	padding: 40px 30px 20px 30px !important;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	margin-top: -606px;
	margin-right: 5px;
}

.post-text {
	height: 300px !important;
}
.post-submit-btn {
	width: 90px !important;
}
/* AdminLOG.js */
.admin-login-body {
	background-color: rgb(71, 209, 71);
	overflow: hidden;
	height: 90vh;
}
.admin-login-card {
	width: 400px !important;
	margin: 90px 450px 40px 450px !important;
	height: 300px !important;
	padding: 20px 40px 20px 40px !important;
	background-color: rgb(71, 209, 71) !important;
	border: none !important;
}
.top-margin {
	margin-top: 30px;
}
.admin-login-btn {
	background-color: rgb(20, 177, 20) !important;
	border: none !important;
}
.admin-login-btn:hover {
	background-color: rgb(9, 80, 9) !important;
}
