#body-card{
    margin-top: 40px !important;
    text-align: center !important;
}
#first{
    width: 20rem;
    margin-left: 400px;
}
#second{
    width: 20rem;
    margin-top: -175px;
    margin-left: 750px;
    
}
