/*ContactUs.js */
.contact-body {
	background-color: #160213;
	overflow: hidden;
	height: 90vh;
}
.contact-card {
	width: 400px;
	height: 450px;
	margin-left: 450px;
	margin-top: 40px;
	border: solid 1px #dad7d7;
	border-radius: 3px;
	padding: 20px 40px 20px 40px;
	border: none !important;
	color: #fff;
}
.contact-title {
	margin-top: 0px;
}
.textarea {
	height: 120px !important;
}
.contact-btn {
	width: 100px;
	margin-top: 10px;
	background-color: #460c3d !important;
	border: none !important;
	text-transform: uppercase;
}
.contact-btn:hover {
	background-color: #460c3d91 !important;
}

/* Login.js */
.login-body {
	background-color: #130327;
	overflow: hidden;
	height: 90vh;
}
.login-card {
	width: 380px;
	margin: 50px 0 0 450px;
	height: 390px;
	padding: 20px 40px 20px 40px;
	background-color: #130327 !important;
	color: #fff;
	border: none !important;
}

.move-top {
	margin-top: 30px;
}
.login-card-title {
	margin-top: 10px;
}
.custom-icon {
	left: 30px;
}

.login-btn {
	margin-top: 10px;
	width: 100px;
	background-color: #330969 !important;
	text-transform: uppercase;
	border: none !important;
}
.login-btn:hover {
	background-color: #693da348 !important;
}
/* Register.js */

.register-body {
	background-color: #003e5a;
	height: 90vh;
	overflow: hidden;
}

.register-card {
	padding: 20px 40px 0px 40px;
	width: 400px;
	height: 530px;
	margin: 10px 0 0 450px;
	border-radius: 2px;
	overflow: hidden;
	color: #fff;
	border: 1px solid !important;
}

.register-btn {
	margin-top: 10px;
	text-transform: uppercase;
}
.register-help {
	width: 100%;
	text-align: center;
	font-size: 14px;
}
